body { 
    font-family: Arial, sans-serif; 
    background-color: aliceblue; 
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container { 
    max-width: 400px; 
    padding: 20px; 
    background: rgb(255, 255, 255); 
    border-radius: 5px; 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.301); 
    
}
h1 { 
    text-align: center; 
    color: #333; 
}
.btn-group { 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    margin-top: 20px;
 }
button { 
    padding: 10px;
     background: #4CAF50; 
     color: white;
      border: none; 
      border-radius: 4px; 
      cursor: pointer; }
button:hover { 
    background: #45a049;
 }
.admin-btn { 
    background: #2196F3; 
}
.admin-btn:hover { 
    background: #0b7dda;
 }